:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --white-background: #FFFFFF;
    --text: #434455;
    --light: #F4F4FD;
       }
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--white-background);
}
.link {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
 
.navigation .logo-part-web {
    color: var(--dark);
    font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.navigation .link {
    color: var(--primary-brand);
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.navigation-item .link {
    color: var(--dark);
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.navigation .link:hover,
.navigation .link:focus {
    color: #404bbf;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.list .link {
    color: var(--dark);
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.adress {
    font-style: normal;
}
.adress .link {
    color: var(--text);
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        list-style: none;
        
}
.adress .link:hover, 
.adress .link:focus {
    color: #404bbf;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    list-style: none;

}

.list .filter-button {
    color: #4D5AE5;
    font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        cursor: pointer;
        background-color: var(--light);
}
.list .filter-button:hover,
.list .filter-button:focus {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
    background-color: #404BBF;
}




.list .card-title {
    color: #2E2F42;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.list .card-text {
    color: var(--text);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.footer {
    background-color: #2E2F42;
    }
.footer .footer-text {
    color: #F4F4FD;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.footer .footer-logo-part {
color: var(--light);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.footer .link {
    color: var(--primary-brand);
        color: var(--IRIS, #4D5AE5);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.section-one {
    background-color: var(--dark);
}
.section-one .section-one-title {
    color: var(--white-background);
    font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        text-align: center;
        }
.section-one .section-one-button {
    color: var(--white-background);
    font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        background-color: #4D5AE5;
        cursor: pointer;
}
.section-one .section-one-button:hover, 
.section-one .section-one-button:focus {
    color: var(--white-background);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    background-color: #404BBF;
    cursor: pointer;
}
.list .section-two-list-title {
    color: var(--dark);
    font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.list .section-two-list-text {
    color: var(--text);
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-three-title {
    color: var(--dark);
    font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        text-align: center;
}
.section-four{
    background-color: #F4F4FD;
}
.section-four .section-four-title {
    color: var(--dark);
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        text-align: center;
}

.list .team-card {
    background-color: #FFFFFF;
}
.team-card .team-card-title {
    color: var(--dark);
    font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.team-card .team-card-text {
    color: var(--text);
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

